quiet() {
  out=$(mktemp)
  err=$(mktemp)
  "$@" > $out 2> $err
  code=$?
  if [ "$code" -ne 0 ] ; then
    cat $out
    cat $err
    echo "Exited($code): $@"
    return $code
  fi
}

note() {
  echo "$(date +%Y-%m-%dT%H:%M:%S) $@"
}
